/*===== VARIABLES CSS =====*/
:root {
  --dark-color-lighten: #eeeeee;
  --btn: #141414;
  --btn-hover: #3a3a3a;
  --text: black;
}

/*===== RESET =====*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  text-align: center;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F0F0F0;
}

.header h1 {
  margin: 10px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}


nav ul li :hover {
  color: white;
  font-size: 16px;
  padding: 16px;
  background-color: black;
  border-radius: 16px;
}


nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.circle {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  padding: 20px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 12px;
}

@media screen and (max-width: 800px) {
  .container {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

.active a {
  color: white;
  font-size: 16px;
  padding: 16px;
  background-color: black;
  border-radius: 16px;
}

h1 {
  font-size: 2em;
}

.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  background-color: var(--dark-color-lighten);
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  text-align: center;
}


.footer {
  background-color: #000000;
  color: #fff;
  padding: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 40px;
}


.product-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 50px;
}

.product-gallery {
  position: relative;
  overflow: hidden;
}

.product-gallery img {
  display: block;
  min-height: 100%;
  height: 50%;
  min-width: 100%;
}

.product-data {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.product-firm {
  text-transform: uppercase;
  font-size: 25px;
}

.product-name {
  font-size: 35px;
  line-height: 24px;
  margin: 15px 0;
}

.product-price {
  font-size: 18px;
  color: #666666;
  margin: 10px 0;
}

.product-price::before {
  content: "$ ";
}

.product-colors {
  font-size: 14px;
  color: #0089cf;
  text-transform: uppercase;
}

.product-colors::before {
  content: "Colors: ";
  color: #666666;
}

.product-size {
  text-transform: uppercase;
  font-size: 14px;
}



.buy-btn {
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 15px 55px;
  background-color: #333333;
  border: none;
  transition: 0.4s;
  margin: 15px 0;
}

.buy-btn:hover,
.buy-btn:focus,
.buy-btn:active {
  box-shadow: 1px 1px 15px 1px #999;
  transition: 0.4s;
  outline: none;
  cursor: pointer;
}

.product-info {
  margin: 50px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #666666;
}